body{
    font-family:Arial, Helvetica, sans-serif
}
site-heading-lower{
    font-family:Arial, Helvetica, sans-serif
}
.mb-3{
    font-family: Arial, Helvetica, sans-serif;
    color:antiquewhite !important;
}
.notantiquewhite{
    color: black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0,0,0,0.5)
}