body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
site-heading-lower{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mb-3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:antiquewhite !important;
}
.notantiquewhite{
    color: black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0,0,0,0.5)
}
.common{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}